.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 2.21, 0.58, 1);
    transform: rotate(90deg);
}

